* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: 'Arial', sans-serif;
}

body {
    line-height: 1.6;
    background-color: #f5f5f5;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 3em;
}

body::before {
    content: "";
    position: absolute;
    top: -13rem;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 40rem;
    background-color: rgb(37, 121, 204);
    transform-origin: 0;
    transform: skewY(-10deg);
    box-shadow: 0rem 0.2rem 1.5rem rgba(0, 0, 0, 0.3);
}

.profile-img {
    height: 480px;
    width: 380px;
    object-fit: cover;
    border-radius: 7px;
}

.about-me {
    box-shadow: 0px 10px 5px -3px rgba(0, 0, 0, 0.3);
    background-color: white;
    padding: 20px;
    border-radius: 7px;
    max-width: 600px;
    width: 100%;
    margin-bottom: 20px;
}

.about-me .icons {
    display: flex;
    justify-content: flex-end;
}

.about-me-info {
    margin-bottom: 20px;
}

.icons {
    display: flex;
    gap: 10px;
}

.icons img,
.project-info img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s;
}

.icons img:hover,
.project-info img:hover {
    transform: scale(1.1);
}

.work-section {
    margin: 2.5em 2.5em 0 2em;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 380px;
    gap: 33px;
    margin: 0 2.5em 3em 3em;
    justify-content: center;
}

.project-card {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}


.project-card:hover {
    transform: scale(1.05);
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-card p {
    padding: 12px;
    font-weight: 600;
    font-size: 14px;
}

h2 {
    margin-bottom: 1.5em;
    margin-left: 2em;
}

footer {
    background-color: rgb(37, 121, 204);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2em;
    color: white;
}

footer img {
    max-width: 100%;
    object-fit: cover;
    height: 400px;
}

.footer-info h3 {
    font-size: 2em;
    margin: 15px 15px 15px 0;
}

.footer-info p {
    font-size: 1.3em;
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 26px;
}
